<!DOCTYPE html>
<html>
  <head>
    <%- include('../partial/header') %>
  </head>
  <body>
    <%- include('../partial/navbar') %>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-8">
          <%- include('../partial/formTemplate', {form: formMeta}) %>
        </div>
      </div>
    </div>
  </body>
</html>
