<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Nullspace</a>

    <!-- Dropdown -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Items in navbar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Dashboard -->
        <% if (active === 'dashboard'){ %>
        <li class="nav-item">
          <a class="nav-link active" href="/dashboard">Dashboard</a>
        </li>
        <% } else {%>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <% } %>
        <!-- Courses -->
        <% if (active === 'courses'){ %>
        <li class="nav-item">
          <a class="nav-link active" href="/courses">Courses</a>
        </li>
        <% } else {%>
        <li class="nav-item">
          <a class="nav-link" href="/courses">Courses</a>
        </li>
        <% } %>
        <!-- Clients -->
        <% if (active === 'clients'){ %>
        <li class="nav-item">
          <a class="nav-link active" href="/students">Clients</a>
        </li>
        <% } else {%>
        <li class="nav-item">
          <a class="nav-link" href="/students">Clients</a>
        </li>
        <% } %>
        <!-- Credits -->
        <% if (active === 'credits'){ %>
        <li class="nav-item">
          <a class="nav-link active" href="/credits">Credits</a>
        </li>
        <% } else {%>
        <li class="nav-item">
          <a class="nav-link" href="/credits">Credits</a>
        </li>
        <% } %>
        <!-- Instructors -->
        <% if (active === 'instructors'){ %>
        <li class="nav-item">
          <a class="nav-link active" href="/instructors">Instructors</a>
        </li>
        <% } else {%>
        <li class="nav-item">
          <a class="nav-link" href="/instructors">Instructors</a>
        </li>
        <% } %>
      </ul>
      <!-- Other section -->
      <ul class="navbar-nav w-75 justify-content-end">
        <li class="nav-item">
          <a class="nav-link d-flex align-bottom" href="/help"
            ><i class="bi bi-question-circle"></i
          ></a>
        </li>
        <li class="nav-item">
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="nav-link btn btn-link">Logout</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
