<!DOCTYPE html>
<html>
  <body>
    <%- include('../partial/header') %>
  </body>
  <head>
    <div class="container vh-100">
      <div class="row h-75 align-items-center justify-content-center">
        <div class="col-lg-4 col-md-6 row text-center">
          <img class="my-4" src="nullspaceLogo.png" alt="heaven" />
          <form action="/login" method="post">
            <input
              name="email"
              class="form-control my-2"
              type="text"
              placeholder="login"
            />
            <input
              name="password"
              class="form-control my-2"
              type="password"
              placeholder="password"
            />
            <button type="submit" class="btn btn-dark w-100">Login</button>
            <div class="my-2 p-1 alert alert-danger <%= errorClass %>">
              Login failed
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include('../partial/requiredJS') %>
  </head>
</html>
