<!DOCTYPE html>
<html>
  <head>
    <%- include('../partial/header') %>
  </head>
  <body>
    <%- include('../partial/navbar') %>
    <div class="container mt-4">
      <%- include('../partial/formTemplate', {form: formMeta}) %>
    </div>
  </body>
</html>
